@use './reset';
@use './setRoot';

body {
  background-color: rgba(20, 6, 0, 1);

  cursor: none;
  // cursor: url('source/img2/hand2.svg'), default;
}

.container {
  min-width: 50rem;
  // min-height: 0rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  // 스크롤이 생기지 않게 하는 방법이 뭐냐..
  margin-inline: auto;
  @at-root *:has(#{&}) {
    align-content: center;
  }

  padding: 30px 30px 50px 30px;

  // .box1
  .box1 {
    box-shadow: 0px 4px 4px 14px rgba(0, 0, 0, 0.25);
    // 드랍 섀도우 쓰면 원하는 느낌 안남.
    width: 100%;
    height: 80vh;
    border-radius: 15px;
    background: var(--gradientBox);
    padding: 30px;
  }

  // .box2
  div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
}
#canvas-container {
  // min-width: 893px;
  max-height: 1rem;
}

// .canvas {
//   display: block;
// }

.primary {
  color: var(--gradientBtn);
}

.bg {
  // width: 1440px;
  // height: 1054px;
  background: var(--bg);
}

.btn {
  width: 100px;
  height: 100px;
  background: var(--gradientBtn);
  border: none;
  color: rgba(0, 0, 0, 0);

  border-radius: 50%;
  cursor: none;
  box-shadow: 0px 10px 4px 14px rgba(0, 0, 0, 0.25);
}

.btn:active {
  scale: 90%;
  box-shadow: 0px 10px 4px 14px rgba(0, 0, 0, 0.45);
  background-color: var();
}

.imges1 {
  filter: blur(1px);
  width: 500px;
  height: 100px;
}

input.imgesBtn2 {
  background: url(../source/img2/devil.svg);
  border: none;
  cursor: none;
  filter: blur(0.2px);
  width: 100px;
  height: 100px;
}
.imgesBtn2:active {
  scale: 90%;
}

.cur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px; /* 이미지 크기 조절 */
  height: auto;
  pointer-events: none; /* 클릭 방해 금지 */
  transform: translate(-50%, -50%);
  z-index: 9999;
  // mix-blend-mode: overlay;
}
