@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  word-break: keep-all;
  text-wrap: balance;
}

a:not([class]) {
  color: currentColor;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
canvas,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

:root {
  --bg: linear-gradient(
    180deg,
    rgba(51, 15, 0, 1) 0%,
    rgba(153, 46, 0, 1) 38%,
    rgba(51, 15, 0, 1) 82%,
    rgba(20, 6, 0, 1) 100%
  );
  --gradientBtn: linear-gradient(
    180deg,
    rgba(134, 0, 0, 1) 0%,
    rgb(188, 3, 3) 50%,
    rgb(78, 0, 0) 100%
  );
  --gradientBtnActive: linear-gradient(
    180deg,
    rgba(92, 0, 0, 1) 0%,
    rgba(130, 0, 0, 1) 48%,
    rgba(92, 0, 0, 1) 100%
  );
  --gradientBox: linear-gradient(
    180deg,
    rgba(91, 29, 0, 1) 0%,
    rgba(170, 77, 10, 1) 48%,
    rgba(91, 29, 0, 1) 100%
  );
}

body {
  background-color: rgb(20, 6, 0);
  cursor: none;
}

.container {
  min-width: 50rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding: 30px 30px 50px 30px;
}
*:has(.container) {
  align-content: center;
}

.container .box1 {
  box-shadow: 0px 4px 4px 14px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 80vh;
  border-radius: 15px;
  background: var(--gradientBox);
  padding: 30px;
}
.container div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#canvas-container {
  max-height: 1rem;
}

.primary {
  color: var(--gradientBtn);
}

.bg {
  background: var(--bg);
}

.btn {
  width: 100px;
  height: 100px;
  background: var(--gradientBtn);
  border: none;
  color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: none;
  box-shadow: 0px 10px 4px 14px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.btn:active {
  scale: 90%;
  box-shadow: 0px 10px 4px 14px rgba(0, 0, 0, 0.45);
  background: var(--gradientBtnActive);
  transition: 0.2s;
}

.imges1 {
  filter: blur(1px);
  width: 500px;
  height: 100px;
}

input.imgesBtn2 {
  background: url(../source/img2/devil.svg);
  border: none;
  cursor: none;
  filter: blur(0.2px);
  width: 100px;
  height: 100px;
  transition: 0.6s;
}

.imgesBtn2:hover {
  transition: 0.6s;
  scale: 90%;
}

.imgesBtn2:active {
  transform: translate(-500%, -400%) scale(7) rotate(360deg);
  position: relative;
  transition: 0.3s;
  z-index: 10;
}

.cur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px; /* 이미지 크기 조절 */
  height: auto;
  pointer-events: none; /* 클릭 방해 금지 */
  transform: translate(-50%, -50%);
  z-index: 9999;
}